<div class="header">
  <div class="titles">
    <h3>Audrey Masamba</h3>
    <h1><span>D</span><span>E</span><span>S</span><span>I</span><span>G</span><span>E</span><span>R</span></h1>
    <div class="h2Ttles">
      <h2>FRONT-END</h2>
      <h2>UX / UI</h2>
    </div>
  </div>
  <div class="description">
    <p class="text">I’m Audrey,
      an experienced designer who combine front-end development and UI/UX approach to create a positive and cohesive
      user experience</p>
    <ul class="socials">
      <li><a href="https://www.linkedin.com/in/masambaaudrey/" target=”_blank”><img src="../../assets/img/icon-linkedin.png"
            alt="linkedin icon" /></a></li>
      <li><a href="https://github.com/AudreyMas?tab=repositories" target=”_blank”><img src="../../assets/img/🦆 icon _github.png"
            alt="github icon" /></a></li>
      <li><a href="mailto:masambaaudrey1@gmail.com"  target=”_blank”><img
            src="../../assets/img/🦆 icon _message.png" alt="message icon" /></a></li>
    </ul>
  </div>
</div>