.header {
  color: #f6f6f6;
  display: flex;
  align-items: center;
  flex-direction: column;

  @media (min-width: 1025px) {
    flex-direction: row;
  }
  .titles {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    margin-left: 5%;

    @media (min-width: 1025px) {
      width: auto;
    }
    h1 {
      display: flex;
      flex-direction: column;
      @media (min-width: 1025px) {
        font-size: 2em;
        span {
          font-size: 2em;
        }
      }
    }
    h2{
      margin-left: -1.7em;
    }
    h2,
    h3 {
      transform: rotate(90deg);
      height: 100%;
    }
  }

  .description {
    border: 1px solid;
    padding: 2em;
    width: 50%;
    @media (min-width: 1440px) {
      position: absolute;
      right: -6%;
      p.text,
      .socials {
        width: 50%;
      }
    }
    .socials {
      display: flex;
      flex-direction: row;
      a {
        padding: 1em;
      }
    }
  }
}
