.projects {
  margin: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  li {
    cursor: pointer;
    width: 100%;
    padding: 2em 0;

    .img-size {
      height: 500px;
      border: 2px solid #0b0b0b;
      background-position: center;
      background-size: cover;
      transition: 0.5s;
      &:hover{
        border: 2px solid #f9f9f9;
      }
    }
  }

  @media (min-width: 1025px) {
    li {
      width: 30%;
      padding: 0 0 9em;
      &:first-child {
        width: 10%;
        .img-size {
          height: 100%;
        }
      }
      &:nth-child(2) {
        width: 80%;
        .img-size {
          height: 100%;
        }
      }
      h1 {
        display: flex;
        flex-direction: column;
      }
    }
  }
}
