<div class="contact">
  <h1>
    <span>C</span><span>O</span><span>N</span><span>T</span><span>A</span><span>C</span><span>T</span>
  </h1>
  <ul class="infos-contact">
    <li><b>email</b>
      <a href="">masambaaudrey1@gmail.com</a>
    </li>

    <li><b>linkedin</b>
      <a href="https://www.linkedin.com/in/masambaaudrey/">https://www.linkedin.com/in/masambaaudrey/</a>
    </li>

    <li><b>github</b> <a href="//www.linkedin.com/in/masambaaudrey/">/www.linkedin.com/in/masambaaudrey/</a></li>
  </ul>
</div>