<div *ngIf="project">
  <img src="{{project.coverPicture}}" alt="odjewels cover picture">
  <h2>{{project.name}}</h2>
  
  <div class="detailsProject">
    <div class="deliverables">
      <b>Deliverables</b>
      <ul>
        <li>{{project.deliverables}}</li>
      </ul>
    </div>
    <div class="deliverables">
      <b>Tools / Skills</b>
      <ul>
        <li>{{project.toolsSkills}}</li>
      </ul>
    </div>
    <div class="myPosition">
      <b>My position</b>
      <ul>
        <li>{{project.myPosition}}</li>
      </ul>
    </div>
    <div class="duration">
      <b>Duration</b>
      <ul>
        <li>{{project.duration}}</li>
      </ul>
    </div>
  
  </div>
  
  
  <section class="content1">
    <div class="overview">
      <h4>OVERVIEW</h4>
      <p>{{project.overviewText}}</p>
    </div>
    <div class="subTitle1">
      <h5>{{project.subTitle1}}</h5>
      <p>{{project.subTitle1Text}}</p>
    </div>
    <div class="subTitle1">
      <h5>{{project.subTitle2}}</h5>
      <p>{{project.subTitle2Text}}</p>
    </div>
  </section>
  
  <section class="content2">
    <div class="tasksTitleSection">
      <h4>{{project.tasksTitleSection}}</h4>
      <p>{{project.tasksTitleSectionText}}</p>
    </div>
    <div class="tasksSubTitle1">
      <h6>{{project.tasksSubTitle1}}</h6>
      <p>{{project.tasksSubTitle1Text}}</p>
      <img src="{{project.picture1}}" alt="picture of od Jewels project">
    </div>
    <div class="tasksSubTitle2">
      <h6>{{project.tasksSubTitle2}}</h6>
      <p>{{project.tasksSubTitle2Text}}</p>
      <img src="{{project.picture2}}" alt="picture of od Jewels project">
    </div>
    <div class="tasksSubTitle3">
      <h6>{{project.tasksSubTitle3}}</h6>
      <p>{{project.tasksSubTitle3Text}}</p>
      <img src="{{project.picture3}}" alt="picture of od Jewels project">
    </div>
  </section>
  
  <a href="{{project.linkProject}}">website of {{project.name | uppercase}}</a>

  <button type="button" (click)="goBack()">go back</button>
</div>