.project-details {
  @media (max-width: 1025px) {
    .overview,
    .sub-title-1,
    .sub-title-2,
    .task-1,
    .task-2,
    .task-3 {
      margin: 5em 0!important;
    }
    .project-details-tasks-title h4{
      margin-top: 2em;
    }
  }




  .cover-img {
    margin-right: 10%;
    height: 600px;
    border: 2px solid;
    background-position: center;
    background-size: cover;
  }

  .content {
    padding-bottom: 0%;
    h4 {
      text-transform: uppercase;
      font-size: 3em;
      font-family: "JockeyOne", Arial, Helvetica, sans-serif;
    }
    .project-details-presentation {
      display: flex;
      flex-direction: column-reverse;
      flex-wrap: wrap;
      margin-bottom: 10%;
      @media (min-width: 1025px) {
        flex-direction: row;
      }
      .left-side {
        @media (min-width: 1025px) {
          width: 60%;
          flex-wrap: wrap;
        }
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        div {
          padding-bottom: 2%;
          @media (min-width: 1025px) {
            padding-right: 1%;
            width: 40%;
          }
        }
      }
      .right-side {
        @media (min-width: 1025px) {
          margin-left: auto;
          h1 {
            text-align: end;
          }
        }
      }
    }
    .project-details-description {
      margin-bottom: 10%;
      .overview {
        display: flex;
        flex-direction: column;

        @media (min-width: 1025px) {
          flex-direction: row;
        }
        margin-bottom: 10%;
        position: relative;
        h4 {
          @media (min-width: 1025px) {
            margin-left: auto;

            transform: rotate(90deg);
            margin-left: -1.7em;
          }
        }
        p {
          margin: 0px;
        }
      }
      .sub-title- {
        &1 {
          text-align: left;
          @media (min-width: 1025px) {
            width: 50%;
          }
        }
        &2 {
          @media (min-width: 1025px) {
            text-align: right;

            width: 50%;
            margin-left: auto;
          }
        }
      }
    }

    .project-details-tasks {
      margin-bottom: 10%;
      text-align: center;
      .line {
        width: 20%;
        height: 3px;
        background-color: black;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 10%;
      }
      &-title {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
      }
      .task- {
        &1,
        &2,
        &3 {
          margin-bottom: 5%;

          h5 {
            font-size: 2em;
            margin: 0px;
            text-align: center;
          }
          .task-img {
            width: 80%;
            background-position: center;
            background-size: cover;
            height: 33em;
            background-repeat: no-repeat;
            margin-left: auto;
            margin-right: auto;
            padding-top: 1em;
          }
        }
      }
    }
  }

  .link-back {
    display: flex;
    flex-direction: column;
    align-items: center;
    a {
      font-weight: bold;
      padding: 1em;
      color: #f9f9f9;
      background-color: #0b0b0b;
      border: 2px solid #0b0b0b;
      margin-bottom: 10%;
      &:hover {
        background-color: #f9f9f9;
        color: #0b0b0b;
      }
    }
  }
}
